.alert {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
  border-right: 0;
  border-left: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.alert-content {
  padding: 1.5vh;
  padding-top: 1.25vh;
  padding-bottom: 0.5vh;
}

.alert-header {
  font-size: 20px;
}

.alert-subheader {
  opacity: 0.60;
  width: 100%;
  margin-bottom: 8px;
  display: inline-block;
}

.alert-body {
  display: inline-block;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.redacted {
  display: inline-block;
  width: 70px;
  height: 20px;
  background: #fff;
}

.alert-chevron {
  float: right;
  font-size: 20px;
  opacity: 0.60;
  color: #000;
  text-decoration: none;
  height: 20px;
  line-height: 20px;
}

.alert-chevron:visited,
.alert-chevron:hover {
  color: #000;
}