h1 {
  font-family: Micro Sans;
  font-kerning: normal;
  font-weight: normal;
  font-size: 34px;
  margin-top: 36px;
  margin-bottom: 18px;
  text-align: center;
}

h2 {
  font-family: Micro Sans;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 18px;
  line-height: 1.2;
}

.album-display-large {
  max-width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

.album-cover-large,
.album-cover-large img {
  width: 130px;
  height: 130px;
  flex: 1;
}

.album-cover-large {
  border: 2px solid #fff;
  margin: 0;
}

.header-label-large {
  font-family: CALICOMP2;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  opacity: 0.6;
}

.title-label-large {
  font-size: 28px;
  height: 28px;
  line-height: 28px;
}

.album-label-large {
  font-size: 26px;
  height: 26px;
  line-height: 30px;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-label-large {
  font-family: CALICOMP2;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  padding-top: 6px;
}

.album-info-large {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 120px);
  float: right;
  margin-left: 20px;
  margin-top: 0px;
  overflow: hidden;
}

.rest-of-albums {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
}

.album-display-cell {
  display: inline-flex;
  width: 100%;
  margin-bottom: 10px;
}

.cover-container {
  margin: 0;
  max-width: 80px;
}

.player-cover {
  width: 80px;
  border: 2px solid #fff;
}

.player-info {
  margin-bottom: 5px;
  margin-left: 15px;
  height: auto;
}

.album-label {
  font-family: CyberpunkWaifus;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: normal;
}

.artist-label {
  font-family: CALICOMP2;
  font-size: 13px;
  height: 16px;
  line-height: 16px;
  padding-top: 0px;
}

.view-more {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 26px;
  padding: 10px;
  background: #fff;
  color: #000;
  margin-bottom: 26px;
  cursor: pointer;
  user-select: none;
}

footer {
  margin-top: 0;
}