/* font import */
@font-face {
  font-family: Micro Sans;
  src: url("../font/micro-sans.ttf");
  font-display: swap;
}

@font-face {
  font-family: CyberpunkWaifus;
  src: url("../font/CyberpunkWaifus.woff");
  font-display: swap;
}

/* rest of style starts here */
body {
  background: #000;
  color: #fff;
  font-family: CyberpunkWaifus;
}

img {
  width: 100%;
}

a,
a:visited,
a:hover {
  color: #fff;
}

main {
  margin: 0;
  padding: 0;
  min-width: 100%;
  max-width: 100%;
  border: 0px;
  display: flex;
  flex-wrap: wrap;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  grid-column-gap: 5%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.container>* {
  margin-bottom: 10px;
  height: auto;
}
