@media screen and (max-width: 768px) {
  .body-container {
    width: 95%;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .header-img {
    min-width: 80%;
  }

  .name-header {
    font-size: 30px;
  }

  .main-body {
    font-size: 16px;
  }

  .gif-label {
    font-size: 12px;
  }

  .player-container {
    height: 80px;
  }

  .cover-container,
  .player-cover {
    max-width: 75px;
  }

  .player-info-container {
    margin-left: 15px;
    width: calc(100% - 95px);
  }

  .header-label {
    padding-bottom: 4px;
  }

  .header-label,
  .album-label {
    font-size: 12px;
    height: 12px;
    line-height: 12px;
  }

  .title-label,
  .artist-label {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
  }

  .artist-label {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .credits {
    font-size: 12px;
  }
}