@media screen and (max-width: 768px) {
  main {
    width: 95%;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  header figure {
    min-width: 80%;
  }

  header h1 {
    font-size: 30px;
  }

  header h2 {
    font-size: 16px;
    margin-top: 10px;
  }

  .gif figcaption {
    font-size: 12px;
  }

  .player {
    height: 80px;
  }

  .cover-container,
  #cover {
    max-width: 75px;
  }

  .player-info {
    margin-left: 15px;
    width: calc(100% - 95px);
  }

  .header-label {
    padding-bottom: 6px;
  }

  .header-label,
  .album-label {
    font-size: 10px;
    height: 12px;
    line-height: 12px;
  }

  .title-label,
  .artist-label {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
  }

  .artist-label {
    padding-top: 2px;
    padding-bottom: 4px;
  }
  
  .drink-maker {
    display: none;
  }

  footer {
    margin-top: 0px;
  }
}