.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #000;
  border: 4px solid #fff;
  margin: 16vh auto;
  padding: 20px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 20vw;
  min-width: 280px;
}

.modal h2 {
  font-family: Micro Sans;
  font-size: 20px;
  text-align: center;
  margin-bottom: 2vh;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.modal h3 {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2vh;
}

.logos {
  display: flex;
  align-items: center;
}

.geobutton {
  width: 88px;
  height: 31px;
  margin: 0;
  margin-right: 6px;
}

.fineprint {
  line-height: 50%;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.fineprint span {
  font-size: 8px;
  line-height: 80%;
  font-style: italic;
  opacity: 0.6;
}

ul {
  padding-left: 20px;
  padding-top: 0;
  margin-top: 1vh;
}

.modal h2,
.close {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-weight: 400;
}

.close {
  text-decoration: underline;
  cursor: pointer;
}