/* font import */
@font-face {
  font-family: Micro Sans;
  src: url("../font/micro-sans.ttf");
  font-display: swap;
}

@font-face {
  font-family: CyberpunkWaifus;
  src: url("../font/CyberpunkWaifus.woff");
  font-display: swap;
}

/* rest of style starts here */
body {
  background: #000;
  color: #fff;
  font-family: CyberpunkWaifus;
}

.body-container {
  width: 90%;
  max-width: 500px;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
  border: 4px solid #fff;
  border-radius: 10px;
}

.header-img {
  width: 70%;
  margin-top: 4vh;
  margin-bottom: 2vh;
  min-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pulsing {
  width: 70%;
  margin-top: 4vh;
  margin-bottom: 2vh;
  min-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: pulse 3s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.name-header {
  font-family: Micro Sans;
  font-kerning: normal;
  font-size: 34px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0;
}

.main-body {
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1vh;
  line-height: 1.2;
}

.socials {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.social-link {
  font-size: 20px;
  text-decoration: none;
}

#social-icon {
  margin-right: 5px;
}

a,
a:visited,
a:hover {
  color: #fff;
}

.random-gif {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.random-gif img {
  display: block;
  max-width: 100%;
  margin: 0;
}

.gif-container {
  border: 2px solid #fff;
  display: block;
  margin: 0 auto;
  max-width: 80.8%;
  height: auto;
  text-align: center;
  clear: both;
}

.splash,
.player-container {
  max-width: 80%;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gif-label {
  text-align: center;
  margin-top: 8px;
}

.source-label {
  font-style: italic;
  text-decoration: underline;
}

.splash {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.credits,
.footer-info {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#credits-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 1vh;
}

.credits {
  margin-bottom: 1vh;
  line-height: 1.2;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.credits a,
#opener2 {
  color: rgba(255, 255, 255, 0.6);
}

.footer-info {
  margin-bottom: 2vh;
}

.player-container {
  height: 104px;
  display: flex;
}

.cover-container {
  max-width: 100px;
  flex: 1;
}

.player-info-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 120px);
  float: right;
  margin-left: 20px;
  height: 100%;
  margin-top: 0px;
}

.player-cover {
  width: 100px;
  border: 2px solid #fff;
}

.player-label {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-label {
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  opacity: 0.6;
  padding-bottom: 6px;
}

.title-label {
  font-size: 20px;
  height: 20px;
  line-height: 20px;
}

.artist-label {
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.album-label {
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  font-style: italic;
}

#opener2 {
  display: inline-block;
}