@media screen and (max-width: 320px) {
  .body-container {
    border: 0px solid #fff;
    margin: 0;
  }

  .body-container,
  .gif-container,
  .header-img,
  .player-container,
  .splash {
    min-width: 100%;
  }

  .name-header {
    font-size: 40px;
    font-weight: bold;
  }

  .main-body {
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 6vh;
    margin-top: 3vh;
  }

  .socials {
    display: none;
  }

  .gif-label {
    max-width: 100%;
    font-size: 20px;
  }

  .player-container {
    height: 105px;
  }

  .cover-container {
    max-width: 100px;
  }

  .player-cover {
    max-width: 100px;
  }

  .player-info-container {
    margin-left: 12.5px;
    width: calc(100% - 110px);
  }

  .header-label,
  .album-label {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    padding-bottom: 6px;
  }

  .title-label {
    font-weight: 600;
  }
  
  .title-label,
  .artist-label {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
  }
  
  .artist-label {
    padding-top: 2px;
    padding-bottom: 4px;
  }

  #opener2 {
    height: 60px;
    line-height: 60px;
    border: 2px solid #fff;
    font-size: 28px;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #fff;
  }

  .modal {
    -webkit-backdrop-filter: blur(2pt);
  }

  .modal-content {
    min-width: 75%;
  }

  .modal-header {
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
  }

  .modal-subheader {
    font-size: 20px;
  }

  ul {
    margin-top: 4vh;
  }

  li {
    font-size: 18px;
  }

  .modal-buttons {
    display: none;
  }

  .modal-fineprint {
    font-size: 14px;
    line-height: 100%;
  }

  .close {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 2px solid #fff;
    font-size: 22px;
    margin-bottom: 5px;
  }

  .credits {
    font-size: 18px;
  }

  #credits-divider {
    display: none;
  }
}