@media screen and (max-width: 320px) {
  * {
    font-family: 'SF Pro Display', sans-serif !important;;
  }

  main {
    border: 0px solid #fff;
    margin: 0;
  }

  main,
  .gif,
  header figure,
  .player,
  footer figure {
    min-width: 100%;
  }

  header h1 {
    font-size: 40px;
    font-weight: bold;
  }

  header h2 {
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2vh;
    margin-top: 4vh;
  }

  header div {
    display: none;
  }

  .gif figcaption {
    max-width: 100%;
    font-size: 20px;
  }

  .player-container {
    height: 105px;
  }

  .cover-container {
    max-width: 100px;
  }

  .player-cover {
    max-width: 100px;
  }

  .player-info-container {
    margin-left: 12.5px;
    width: calc(100% - 110px);
  }

  .header-label,
  .album-label {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    padding-bottom: 6px;
  }

  .title-label {
    font-weight: 600;
  }
  
  .title-label,
  .artist-label {
    font-size: 20px;
    height: 20px;
    line-height: 20px;
  }
  
  .artist-label {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  footer:nth-child(5) > span:nth-child(1) > a:nth-child(3) {
    height: 60px;
    line-height: 60px;
    border: 2px solid #fff;
    font-size: 28px;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #fff;
  }

  .splash {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .modal {
    -webkit-backdrop-filter: blur(2pt);
    backdrop-filter: blur(2pt);
  }

  .modal-content {
    min-width: 75%;
  }

  modal h2 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 5px;
  }

  modal h3 {
    font-size: 20px;
  }

  ul {
    margin-top: 4vh;
  }

  li {
    font-size: 18px;
  }

  .fineprint {
    font-size: 14px;
    line-height: 100%;
  }

  .close {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 2px solid #fff;
    font-size: 22px;
    margin-bottom: 5px;
  }

  footer span {
    font-size: 18px;
  }

  #credits-divider {
    display: none;
  }

  .modal-content {
    margin-top: 15vh;
    margin-bottom: 8vh;
  }

  .modal h2 {
    font-weight: bold;
    font-size: 24px;
  }

  .modal h2,
  .fineprint {
    margin-top: 2vh;
    margin-bottom: 4vh;
  }

  .modal h3 {
    font-size: 18px;
  }
}